In [1]:
import pandas as pd
import numpy as np
import re

data = pd.read_csv("tweets.csv")
data

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."
...,...,...,...
2814,142881284019060736,2011-12-03 08:22:07,b'That was a total non sequitur btw'
2815,142880871391838208,2011-12-03 08:20:28,"b'Great Voltaire quote, arguably better than T..."
2816,142188458125963264,2011-12-01 10:29:04,b'I made the volume on the Model S http://t.co...
2817,142179928203460608,2011-12-01 09:55:11,"b""Went to Iceland on Sat to ride bumper cars o..."
2818,15434727182,2010-06-04 18:31:57,"b'Please ignore prior tweets, as that was some..."

In [2]:
def remove_pattern(input_text, pattern):
    r = re.findall(pattern, input_text)
    for i in r:
        input_text = re.sub(i, ' ', input_text)
    return input_text
print(data)

                      id           created_at
0     849636868052275200  2017-04-05 14:56:29  \
1     848988730585096192  2017-04-03 20:01:01
2     848943072423497728  2017-04-03 16:59:35
3     848935705057280001  2017-04-03 16:30:19
4     848416049573658624  2017-04-02 06:05:23
...                  ...                  ...
2814  142881284019060736  2011-12-03 08:22:07
2815  142880871391838208  2011-12-03 08:20:28
2816  142188458125963264  2011-12-01 10:29:04
2817  142179928203460608  2011-12-01 09:55:11
2818         15434727182  2010-06-04 18:31:57

                                                   text
0     b'And so the robots spared humanity ... https:...
1     b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2         b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3                   b'Stormy weather in Shortville ...'
4     b"@DaveLeeBBC @verge Coal is dying due to nat ...
...                                                 ...
2814               b'That was a total non sequitur btw'
2815  b'Great Voltaire quote, arguably better than T...
2816  b'I made the volume on the Model S http://t.co...
2817  b"Went to Iceland on Sat to ride bumper cars o...
2818  b'Please ignore prior tweets, as that was some...

[2819 rows x 3 columns]

In [3]:
data['New'] = np.vectorize(remove_pattern)(data['text'], '@[\w]*')
print(data['New'])

0       b'And so the robots spared humanity ... https:...
1       b"        Exactly. Tesla is absurdly overvalue...
2                                   b'      Et tu, Walt?'
3                     b'Stormy weather in Shortville ...'
4       b"    Coal is dying due to nat gas fracking. I...
                              ...
2814                 b'That was a total non sequitur btw'
2815    b'Great Voltaire quote, arguably better than T...
2816    b'I made the volume on the Model S http://t.co...
2817    b"Went to Iceland on Sat to ride bumper cars o...
2818    b'Please ignore prior tweets, as that was some...
Name: New, Length: 2819, dtype: object

In [4]:
data['New'] = data['New'].str.replace('^[A-Za-z#]', ' ')
print(data['New'])

0       b'And so the robots spared humanity ... https:...
1       b"        Exactly. Tesla is absurdly overvalue...
2                                   b'      Et tu, Walt?'
3                     b'Stormy weather in Shortville ...'
4       b"    Coal is dying due to nat gas fracking. I...
                              ...
2814                 b'That was a total non sequitur btw'
2815    b'Great Voltaire quote, arguably better than T...
2816    b'I made the volume on the Model S http://t.co...
2817    b"Went to Iceland on Sat to ride bumper cars o...
2818    b'Please ignore prior tweets, as that was some...
Name: New, Length: 2819, dtype: object

In [5]:
data['New'] = data['New'].apply(lambda x: ' '.join([w for w in x.split() if len(w) > 3]))
print(data)

                      id           created_at
0     849636868052275200  2017-04-05 14:56:29  \
1     848988730585096192  2017-04-03 20:01:01
2     848943072423497728  2017-04-03 16:59:35
3     848935705057280001  2017-04-03 16:30:19
4     848416049573658624  2017-04-02 06:05:23
...                  ...                  ...
2814  142881284019060736  2011-12-03 08:22:07
2815  142880871391838208  2011-12-03 08:20:28
2816  142188458125963264  2011-12-01 10:29:04
2817  142179928203460608  2011-12-01 09:55:11
2818         15434727182  2010-06-04 18:31:57

                                                   text
0     b'And so the robots spared humanity ... https:...  \
1     b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2         b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3                   b'Stormy weather in Shortville ...'
4     b"@DaveLeeBBC @verge Coal is dying due to nat ...
...                                                 ...
2814               b'That was a total non sequitur btw'
2815  b'Great Voltaire quote, arguably better than T...
2816  b'I made the volume on the Model S http://t.co...
2817  b"Went to Iceland on Sat to ride bumper cars o...
2818  b'Please ignore prior tweets, as that was some...

                                                    New
0     b'And robots spared humanity https://t.co/v7JU...
1     Exactly. Tesla absurdly overvalued based past,...
2                                                Walt?'
3                      b'Stormy weather Shortville ...'
4            Coal dying fracking. It's basically dead."
...                                                 ...
2814                         b'That total sequitur btw'
2815  b'Great Voltaire quote, arguably better than T...
2816  made volume Model http://t.co/wMCnT53M just ne...
2817  b"Went Iceland ride bumper cars ice! country, ...
2818  b'Please ignore prior tweets, that someone pre...

[2819 rows x 4 columns]

In [6]:
tokenized_tweet = data['New'].apply(lambda x:x.split())
print(tokenized_tweet)

0       [b'And, robots, spared, humanity, https://t.co...
1       [Exactly., Tesla, absurdly, overvalued, based,...
2                                                [Walt?']
3                   [b'Stormy, weather, Shortville, ...']
4       [Coal, dying, fracking., It's, basically, dead."]
                              ...
2814                      [b'That, total, sequitur, btw']
2815    [b'Great, Voltaire, quote,, arguably, better, ...
2816    [made, volume, Model, http://t.co/wMCnT53M, ju...
2817    [b"Went, Iceland, ride, bumper, cars, ice!, co...
2818    [b'Please, ignore, prior, tweets,, that, someo...
Name: New, Length: 2819, dtype: object

In [8]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x])
print(tokenized_tweet)

ModuleNotFoundError: No module named 'nltk'